<div class="footer-wrapper d-flex p-2 px-5 rounded-bottom align-items-center">
    <div class="socials d-flex align-items-center gap-5 flex-grow-1 py-3">
        <a class="social" href="https://www.linkedin.com/in/anilsnair2612/" target="_blank">LinkedIn</a>
        <a class="social" href="https://www.twitch.tv/anil_s_" target="_blank">Twitch</a>
        <a class="social" href="https://www.reddit.com/user/anilsnair/" target="_blank">Reddit</a>
    </div>
    <div class="mine d-flex">
        <!-- Design copied but developed by me. -->
    </div>
</div>