/* You can add global styles to this file, and also import other style files */

body {
    background-color: #007beb !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-icon {
    font-size: 2rem !important;
    height: auto !important;
    width: auto !important;
}